@import 'base/variables';
@import 'bloks/advantage';
@import 'bloks/promo';
@import 'bloks/header';
@import 'bloks/button';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: $second-color-text;
    text-align: center;
}