@import 'base/variables';
@import 'bloks/promo';
@import 'bloks/header';
@import 'bloks/button';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}