.consultation {
    min-height: 680px;
    padding: 100px 0 108px 0;
    background: url(../../img/bcg/bg_consultation.jpg) no-repeat center (center/cover) fixed;
    &__discr {
        max-width: 426px;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: $main-color-text;
    }
}