.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    color: $second-color-text;
    text-align: center;
    &_left {
        text-align: left;
        color: $main-color-text;
        font-size: 36px;
        line-height: 54px;
    }
}